#gitignore
__pycache__/
*.py[cod]

.ipynb_checkpoints/
*.ipynb

.env/
.venv/
env/
venv/

*.csv
*.json
*.jsonl
*.log
*.zip
*.tar.gz
*.gz
*.tsv

dataset/
results/
checkpoints/
wandb/
runs/
output/
logs/

*.pt
*.pth
*.ckpt

.vscode/
.idea/
.DS_Store
Thumbs.db

glove/glove.*.txt

